@model Coffee

<div class="row">
    <div class="col-md-6">
        <div class="coffee_img"><img src="~/images/@Model.ImageName"></div>
        <h3 class="types_text">@Model.Name</h3>
        <p class="looking_text">@Model.Overview</p>
        <div class="read_bt"><a href="/coffees">Go back</a></div>
    </div>
</div>